<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
<title>Download Yabasic</title>
<link rel="stylesheet" type="text/css" href="standard.css">
<meta name="author" content="Marc Ihm">
</head>

<body bgcolor="white" text="black" link="blue" vlink="purple" alink="red">

  <h1><a name="binwin">Binaries for Windows</a></h1>
    <p>Please note that <b>Windows Defender</b>, has reported yabasic-2.78.0-setup.exe as beeing infected (2017-04-20); as a remedy I checked and rebuilt the executable and do not receive such reports any more (scanning locally and <a href="https://www.virustotal.com/de/file/4aa4457443ab28b4a335809d6d101be91baa6a5a96e3b414a73281c71665ec8a/analysis/1492710122/" target="_parent">online</a>). However, if (on download) your virus scanner still sticks to its previous assessment, you may install yabasic from the zip-Fie, as described <a href="content_download.html#zipwin">below</a>.</p>
<p>Yabasic runs under any modern version of Windows, from <strong>Windows XP</strong> to <strong>Windows 10</strong>. For Windows XP however, you will probably need to download the zipfile, see <a href="content_download.html#zipwin">below</a>; for later versions of Windows, this is how to install: 
<ul type="disc">
    <li>Download <a href="download/yabasic-<%= version %>-setup.exe">yabasic-<%= version %>-setup.exe</a> and save it 
    <li>Double-click on the saved file 
    <li>Follow the instructions 
</ul>
<p>The setup-program does the following: 
<ul type="disc">
    <li>Make an entry in the start-menu 
    <li>Register the extension &quot;.yab&quot; 
    <li>Make an entry in the Root-Menu (this is the menu, which appears if you 
    click the right Mousebutton on an empty part of your Desktop) 
    <li>Put default-settings into the registry 
    <li>Register its uninstall-program 
    <li>Write a complete installation-log; if errors happen, you will be offered to view it
</ul>
<p>To <b>remove</b> yabasic, go to the control-panel and click on the software-icon: 
You will find an entry for deleting yabasic. </p>
<p>If anything goes wrong please send me a mail:&nbsp;<a href="mailto:mail@yabasic.de">mail@yabasic.de</a></p>

<h1><a name="zipwin">Zip-file for Windows XP</a></h1>
<p>For Windows XP you may install yabasic from its zip-file:</p>
<ul type="disc">
  <li>Download <a href="download/yabasic-<%= version %>.zip">yabasic-<%= version %>.zip</a>.</li>
  <li>Open the zip-file; it contains a folder named 'yabasic-zip'</li>
  <li>Extract the folder yabasic-zip to a suitable location (e.g. to your desktop by drag and drop></li>
  <li>Within the extracted folder yabasic-zip, double-click on setup.exe to start the installation of yabasic</li>
  <li>Remove the folder yabasic-zip, as it is no longer needed</li>
</ul>
<p>To <b>remove</b> yabasic, go to the control-panel and click on the software-icon: 
You will find an entry for deleting yabasic. </p>

<h1><a name="binlin">Binaries for Linux</a></h1>
<p>This is how to download and install the binary linux-i586-package of yabasic for:
  <p>For redhat-based systems (e.g. fedora, redhat, suse, centos) you need the <strong>rpm</strong> package (see below).<br>
  For debian-based systems (e.g. ubuntu, debian) you need the <strong>deb</strong> package (see below).</p>
  <ul type="disc">
    <li>Download <a href="download/yabasic-<%= version %>-1.x86_64.rpm">yabasic-<%= version %>-1.x86_64.rpm</a> or <a href="download/yabasic_<%= version %>_amd64.deb">yabasic_<%= version %>_amd64.deb</a>. </li>
    <li>Yabasic requires the ncurses libraries to be installed; <strong>sudo yum install ncurses</strong> or <strong>sudo apt-get install ncurses</strong> should be enough.</li>
    <li>Type <strong>sudo rpm -i yabasic-<%= version %>-1.i586.rpm</strong> or <strong>sudo dpkg -i yabasic_<%= version %>_amd64.deb</strong>. </li>
    <li>Read the man-page of yabasic: <strong>man yabasic</strong>.</li>
    <li>Or read the html-Documentation under <strong>/usr/local/share/applications/yabasic/yabasic.htm</strong></li>
    <li>Try the demos under <strong>/usr/local/share/applications/yabasic/demo.yab</strong></li>
  </ul>
<p>To remove yabasic type <strong>sudo rpm -e yabasic</strong> or <strong>sudo dpkg --remove yabasic</strong>.</p>
<p>If you have any problems, please send me a mail:&nbsp;<a href="mailto:mail@yabasic.de">mail@yabasic.de</a>.</p>
<h1><a name="sourceunix">Compile the sources for Unix</a></h1>
<p>Compiling yabasic requires a C-Compiler (typically gcc) as well as the libraries and header-files for ncurses and x11 (typically named <strong>ncurses</strong>, <strong>ncurses-devel</strong> and <strong>xorg-x11-devel</strong>). To compile yabasic in your home-directory proceed like this:

<ul type="disc">
    <li>Click here to download <a href="download/yabasic-<%= version %>.tar.gz">yabasic-<%= version %>.tar.gz</a>, the tar-file of yabasic. </li>
    <li>Uncompress the tar-file: <b>gunzip yabasic-<%= version %>.tar.gz</b>. </li>
    <li><b>tar xf yabasic-<%= version %>.tar</b>, this unpacks the tar-file, giving you 
    a directory named <strong>yabasic-<%= version %></strong>.</li>
    <li><b>cd yabasic-<%= version %></b> </li>
    <li><b>./runme</b> starts a shell script which builts the executable 
    program. (Alternatively you may type: <b>./configure &amp;&amp; make &amp;&amp; 
    make check</b>) </li>
    <li>If you have root privileges, you may type <strong>make install</strong> 
    to install yabasic in your system. </li>
</ul>
<p>Yabasic compiles under HPux, Solaris and linux, but chances are high, that users of other mainstream Unixes 
will have no problems. If anything goes wrong please send me a mail:&nbsp;<a href="mailto:mail@yabasic.de">mail@yabasic.de</a>, 
including: 
<ul type="disc">
    <li>the sort of <b>system</b> you are working on and </li>
    <li>the file <b>runme.log</b> which is written during execution of the script <b>runme</b> </li>
</ul>
<p>Then I will try to find and fix the problem.</p>
<h1><a name="sourcewin">Sources for Windows</a></h1>
<p>If you'd like to get the Windows specific files (including the sources of 
the installation program), you may checkout the git-repository as described below.</p>
<h1><a name="git">Checking out the git repository</a></h1>
<p>If you would like to modify yabasic for your own needs or add patches to its sources, you should clone its git-repository at <a href="https://github.com/marcIhm/yabasic" target="_parent">github</a>.</p>
</body>

</html>
