<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <head>
    <title>Header and Banner</title>
    <link rel="stylesheet" type="text/css" href="standard.css">
    <meta name="author" content="Marc Ihm">
    <style>
      div { font-family:verdana,sans-serif; text-decoration:none; margin:0px; padding:0px; position:absolute; }  
      .small{ font-weight:600; font-size:18vh; color:<%= colors[:head_small] %>; white-space:nowrap; }
      .bigger{ font-weight:900; font-size:70vh; color:<%= colors[:head_bigger] %>; }
      .biggest{ font-weight:700; font-size:300vh; color:<%= colors[:head_biggest] %>; }
    </style>
  </head>
  
  <body bgcolor="<%= colors[:head_bg] %>" text="black" link="blue" vlink="purple" alink="red">
    <div class="biggest" style="z-index:1; margin-top:-100vh;">
      Yabasic
    </div>
    <div style="z-index:2;">
      <p class="bigger" style="margin-top:-15vh; margin-bottom:-10vh; margin-left:0vh;">Yabasic</p>
      <p class="small" style="margin-top:-10vh; margin-bottom:-10vh;">Yet another Basic, Version <%= version %></p>
    </div>
  </body>
</html>
